body {
  font-family: 'Raleway', sans-serif; }

@font-face {
  font-family: "Cut The Crap";
  src: url("../../css/font/cut_the_crap-webfont.woff") format("woff"), url("../../css/font/cut_the_crap-webfont.woff2") format("woff2"); }
.header__textbox--1, .header__textbox--2, .header__textbox--3 {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
  color: white;
  text-shadow: 2px 3px 0px rgba(38, 20, 20, 0.3);
  text-transform: uppercase;
  line-height: 65px;
  z-index: 1000; }

.header__textbox--1 p:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '"';
  font-family: 'Cut The Crap', Arial, sans-serif;
  font-size: 18rem; }

.header__textbox--2 p:before {
  position: absolute;
  top: -16px;
  left: -31px;
  content: '"';
  font-family: 'Cut The Crap', Arial, sans-serif;
  font-size: 18rem; }

.header__textbox--3 p:before {
  position: absolute;
  top: -19px;
  left: -108px;
  content: '"';
  font-family: 'Cut The Crap', Arial, sans-serif;
  font-size: 18rem; }

.header__textbox--1 {
  max-width: 800px;
  top: 440px;
  right: 300px; }

.header__textbox--2 {
  max-width: 800px;
  top: 318px;
  right: 594px; }

.header__textbox--3 {
  max-width: 800px;
  top: 500px;
  left: 269px; }

.carousel-item {
  height: 100vh; }

.carousel-image-1 {
  background: url(../img/header-1920x1080.jpg);
  background-size: cover; }

.carousel-image-2 {
  background-image: url(../img/header1-1920x1080.jpg);
  background-size: cover;
  background-position: right 0; }

.carousel-image-3 {
  background: url(../img/header2-1920x1080.jpg);
  background-size: cover;
  background-position: right 0; }

.carousel-image-1:after,
.carousel-image-2:after,
.carousel-image-3:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 90, 90, 0.26); }

@media (max-width: 1800px) {
  .header__textbox--1 {
    transform: translate(150px); } }
@media (max-width: 1600px) {
  .header__textbox--1 {
    transform: translate(350px, -50px); } }
@media (max-width: 1400px) {
  .header__textbox--1 {
    transform: translate(150px, -50px);
    font-size: 4.5rem;
    max-width: 400px; } }
@media (max-width: 1200px) {
  .header__textbox--1 {
    transform: translate(200px, -50px); } }
@media (max-width: 992px) {
  .header__textbox--2 {
    transform: translate(345px, -50px); } }
@media (max-width: 500px) {
  .header__textbox--1 {
    transform: translate(300px, -200px);
    max-width: 500px;
    font-size: 4rem; }

  .header__textbox--2 {
    transform: translate(500px);
    font-size: 4rem; } }
@media (max-width: 400px) {
  .header__textbox--1 {
    transform: translate(300px, -200px);
    max-width: 500px;
    font-size: 3rem; }

  .header__textbox--2 {
    transform: translate(550px, -150px);
    max-width: 500px;
    font-size: 3rem; } }
.btn-primary {
  background: #105071;
  color: #fff;
  border: none; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #1e719b; }

.btn-primary:active, .btn-primary.active {
  background: #1e719b;
  box-shadow: none; }

.navbar-brand img {
  width: 180px; }

.navbar-light .navbar-brand {
  margin-bottom: -26px; }

.navbar-light .navbar-nav .nav-link.active {
  color: #105071; }

#section-cards {
  margin-top: 100px;
  margin-bottom: 100px; }

#hexagon {
  width: 100px;
  height: 55px;
  position: relative;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #105071;
  display: flex;
  justify-content: center; }

#hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #105071; }

#hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #105071; }

.fas {
  color: #fff;
  font-size: 2rem;
  margin-top: 13px; }

@media (max-width: 768px) {
  .mb-resp {
    padding-bottom: 20px; } }
.navbar-brand img {
  width: 180px; }

.navbar-light .navbar-brand {
  margin-bottom: -26px; }

.navbar-light .navbar-nav .nav-link.active {
  color: #105071; }

#datenschutz-ist-kein-luxus {
  position: relative;
  line-height: 1.9rem;
  margin-bottom: -65px; }

.inner {
  position: relative;
  z-index: 200;
  color: white; }

.inner hr {
  border-color: #fdfdfd; }

.jumbotron {
  background: url(../img/SevTaste_kl._Schlitzpng-1024x198.png);
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  color: white;
  text-shadow: 2px 3px 0px rgba(38, 20, 20, 0.205); }

.overlay {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479); }

#warum-seventis {
  line-height: 1.9rem;
  padding-top: 90px; }

#warum-seventis h5 {
  color: #105071; }

#warum-seventis hr {
  border-bottom: 1px solid #bdbdbd; }

.gesetze {
  margin-bottom: 31px; }

.warum-seventis-cards {
  -webkit-box-shadow: 21px 20px 12px -3px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 21px 20px 12px -3px rgba(0, 0, 0, 0.11);
  box-shadow: 21px 20px 12px -3px rgba(0, 0, 0, 0.11); }

.warum-seventis-cards:hover {
  -webkit-transform: scale(1.1);
  -webkit-box-shadow: 21px 20px 12px -15px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 21px 20px 12px -15px rgba(0, 0, 0, 0.11);
  box-shadow: 21px 20px 12px -15px rgba(0, 0, 0, 0.11);
  transition: all 0.5s ease-in-out; }

.wv-gesetze {
  padding-bottom: 85px !important; }

.risiken-minimieren {
  padding-bottom: 140px !important; }

#ueber-uns {
  background-color: #80b1cf;
  line-height: 1.9rem; }

#datenschutz {
  margin-top: 120px; }

#impressum {
  margin-top: 120px; }

#datenschutzbeauftragter {
  margin-top: 120px; }

#datenschutz-fuer-aerzte {
  margin-top: 120px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px; }

/*# sourceMappingURL=style.css.map */
