body {
  font-family: 'Raleway', sans-serif;
  padding-top: 60px; }

@font-face {
  font-family: "Cut The Crap";
  src: url("./font/cut_the_crap-webfont.woff") format("woff"), url("./font/cut_the_crap-webfont.woff2") format("woff2"); }
.carousel-caption-1 {
  position: absolute;
  bottom: 20px;
  top: 40%;
  left: 48%;
  bottom: auto;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  max-width: 800px;
  font-family: 'Permanent Marker', cursive;
  font-size: 5vw;
  color: white;
  text-shadow: 3px 1px 16px rgba(0, 0, 0, 0.452);
  text-transform: uppercase;
  line-height: 85px;
  z-index: 10; }

.carousel-caption-1 p:before {
  position: absolute;
  top: 0;
  left: 60;
  transform: translate(-140px);
  content: '"';
  font-family: 'Cut The Crap', Arial, sans-serif;
  font-size: 18vw; }

.carousel-caption-2 {
  position: absolute;
  top: 30%;
  left: 20%;
  max-width: 800px;
  bottom: auto;
  font-family: 'Permanent Marker', cursive;
  font-size: 6rem;
  color: white;
  text-shadow: 3px 1px 16px rgba(0, 0, 0, 0.568);
  text-transform: uppercase;
  line-height: 85px;
  z-index: 10; }

.carousel-caption-2 p:before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-120px);
  content: '"';
  font-family: 'Cut The Crap', Arial, sans-serif;
  font-size: 18rem; }

.carousel-caption-3 {
  position: absolute;
  top: 30%;
  left: 10%;
  max-width: 800px;
  bottom: auto;
  font-family: 'Permanent Marker', cursive;
  font-size: 6rem;
  color: white;
  text-shadow: 3px 1px 16px rgba(0, 0, 0, 0.452);
  text-transform: uppercase;
  line-height: 85px;
  z-index: 10; }

.carousel-caption-3 p:before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-120px);
  content: '"';
  font-family: 'Cut The Crap', Arial, sans-serif;
  font-size: 18rem; }

@media (max-width: 1600px) {
  .carousel-caption-2 {
    top: 40%;
    left: 20%;
    max-width: 800px;
    font-family: 'Permanent Marker', cursive;
    font-size: 5.6rem;
    line-height: 70px; }

  .carousel-caption-3 {
    left: 9%;
    top: 40%;
    line-height: 86px; }

  .carousel-caption-1 p:before {
    transform: translate(-100px); } }
@media (max-width: 1200px) {
  .carousel-caption-1 {
    line-height: 65px; }

  .carousel-caption-1 p:before {
    transform: translate(-75px);
    top: 3%; }

  .carousel-caption-2 {
    top: 42%;
    left: 20%;
    max-width: 600px;
    font-family: 'Permanent Marker', cursive;
    font-size: 4.5rem;
    line-height: 70px; }

  .carousel-caption-2 p:before {
    transform: translate(-88px);
    font-size: 13rem; }

  .carousel-caption-3 {
    left: 10%;
    top: 53%;
    font-size: 4.5rem;
    line-height: 70px; }

  .carousel-caption-3 p:before {
    transform: translate(-88px);
    font-size: 13rem; } }
@media (max-width: 992px) {
  .carousel-caption-1 {
    top: 40%;
    max-width: 600px;
    line-height: 45px; }

  .carousel-caption-1 p:before {
    transform: translate(-56px);
    top: 2%; }

  .carousel-caption-2 {
    top: 50%;
    left: 25%;
    max-width: 600px;
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    line-height: 60px; }

  .carousel-caption-3 {
    max-width: 600px;
    left: 17%;
    font-size: 4rem;
    line-height: 60px; } }
@media (max-width: 768px) {
  .carousel-caption-1 {
    top: 36%;
    line-height: 30px; }

  .carousel-caption-2 {
    top: 31%;
    left: 22%;
    font-size: 3.5rem;
    max-width: 600px;
    line-height: 60px; }

  .carousel-caption-3 {
    max-width: 600px;
    left: 18%;
    font-size: 3.5rem;
    line-height: 60px; } }
@media (max-width: 575.98px) {
  .carousel-caption-1 {
    top: 28%;
    line-height: 20px;
    font-size: 1.6rem; }

  .carousel-caption-1 p:before {
    top: 10%;
    transform: translate(-33px); }

  .carousel-caption-2 {
    top: 41%;
    left: 22%;
    max-width: 600px;
    font-size: 1.7rem;
    line-height: 29px; }

  .carousel-caption-2 p:before {
    font-size: 6rem;
    top: -7%;
    left: 18%; }

  .carousel-caption-3 {
    max-width: 600px;
    left: 14%;
    top: 40%;
    font-size: 1.8rem;
    line-height: 28px; }

  .carousel-caption-3 p:before {
    font-size: 6rem;
    top: -6%;
    left: 19%; } }
.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.btn-primary {
  background: #105071;
  color: #fff;
  border: none; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #1e719b; }

.btn-primary:active, .btn-primary.active {
  background: #1e719b;
  box-shadow: none; }

.navbar-brand img {
  width: 100%;
  height: auto; }

.navbar-light .navbar-brand {
  margin-bottom: -26px; }

.navbar-light .navbar-nav .nav-link.active {
  color: #105071; }

.navbar-nav {
  margin-bottom: -6px; }

@media (max-width: 767.98px) {
  .navbar-brand img {
    max-width: 70%; } }
@media (max-width: 575.98px) {
  .navbar-brand img {
    max-width: 50%; }

  .navbar-light .navbar-brand {
    margin-bottom: -22px;
    max-width: 76%; } }
#section-cards {
  margin-top: 100px;
  margin-bottom: 100px; }

#hexagon {
  width: 100px;
  height: 55px;
  position: relative;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #105071;
  display: flex;
  justify-content: center; }

#hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #105071; }

#hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #105071; }

.fas {
  color: #fff;
  font-size: 2rem;
  margin-top: 13px; }

@media (max-width: 768px) {
  .mb-resp {
    padding-bottom: 20px; } }
@media (max-width: 575.98px) {
  #section-cards {
    margin-top: 28px;
    margin-bottom: 28px; } }
.navbar-brand img {
  width: 100%;
  height: auto; }

.navbar-light .navbar-brand {
  margin-bottom: -26px; }

.navbar-light .navbar-nav .nav-link.active {
  color: #105071; }

.navbar-nav {
  margin-bottom: -6px; }

@media (max-width: 767.98px) {
  .navbar-brand img {
    max-width: 70%; } }
@media (max-width: 575.98px) {
  .navbar-brand img {
    max-width: 50%; }

  .navbar-light .navbar-brand {
    margin-bottom: -22px;
    max-width: 76%; } }
#angebot {
  position: relative;
  line-height: 1.9rem;
  margin-bottom: -65px; }

.inner {
  position: relative;
  z-index: 200;
  color: white; }

.inner hr {
  border-color: #fdfdfd; }

.jumbotron {
  background: url(../img/SevTaste_kl._Schlitzpng-1024x198.png);
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  color: white;
  text-shadow: 2px 3px 0px rgba(38, 20, 20, 0.205); }

.overlay {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 85%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479); }

#angebot:before {
  content: "";
  display: block;
  height: 90px;
  /* fixed header height*/
  margin: -90px 0 0;
  /* negative fixed header height */
  background-color: white; }

#warum-seventis {
  line-height: 1.9rem;
  padding-top: 110px; }

#warum-seventis h5 {
  color: #105071; }

#warum-seventis hr {
  border-bottom: 1px solid #bdbdbd; }

.gesetze {
  margin-bottom: 31px; }

.warum-seventis-cards {
  -webkit-box-shadow: 21px 20px 12px -3px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 21px 20px 12px -3px rgba(0, 0, 0, 0.11);
  box-shadow: 21px 20px 12px -3px rgba(0, 0, 0, 0.11); }

.warum-seventis-cards:hover {
  -webkit-transform: scale(1.1);
  -webkit-box-shadow: 21px 20px 12px -15px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 21px 20px 12px -15px rgba(0, 0, 0, 0.11);
  box-shadow: 21px 20px 12px -15px rgba(0, 0, 0, 0.11);
  transition: all 0.5s ease-in-out; }

.wv-gesetze {
  padding-bottom: 85px !important; }

.risiken-minimieren {
  padding-bottom: 140px !important; }

#ueber-uns {
  background-color: #bccbd3;
  line-height: 1.9rem; }

#datenschutz {
  padding-top: 100px; }

@media (max-width: 575.98px) {
  #datenschutz h1 {
    font-size: 1.8rem; }

  #datenschutz {
    padding-top: 80px; } }
#impressum {
  padding-top: 100px; }

@media (max-width: 575.98px) {
  #impressum h1 {
    font-size: 1.8rem; }

  #impressum {
    padding-top: 0px; } }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px; }

#datenschutzbeauftragter {
  padding-top: 50px; }

@media (max-width: 575.98px) {
  .datenschutzbeauftragter-title {
    font-size: 1.8rem; }

  #datenschutzbeauftragter {
    padding-top: 0px; } }
.datenschutz-fuer-aerzte {
  padding-top: 100px; }

@media (max-width: 575.98px) {
  .datenschutz-fuer-aerzte h1 {
    font-size: 1.8rem; }

  .datenschutz-fuer-aerzte {
    padding-top: 0px; } }

/*# sourceMappingURL=style.css.map */
