body {
    font-family: 'Raleway', sans-serif;
    padding-top: 140px;

}
@font-face {
    font-family: "Cut The Crap";
   
    src: 
    url("./font/cut_the_crap-webfont.woff") format("woff"),
    url("./font/cut_the_crap-webfont.woff2") format("woff2"),
   
    }
    
   
    
    // .apostroph {
    // font-family: 'Cut The Crap', Arial, sans-serif;
    // font-weight:normal;
    // font-style:normal;
    // font-size: 18rem;
    // }