.btn-primary {
    background: $color-primary;
    color: $color-white;
    border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $color-primary-light;
}
 
.btn-primary:active, .btn-primary.active {
    background: $color-primary-light;
    box-shadow: none;
}