.btn-primary {
    background: #0F5070;
    color: #ffffff;
    border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: rgb(24, 117, 163);
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}