#datenschutzbeauftragter {
    padding-top: 50px;
}

@media (max-width: 575.98px) {
    .datenschutzbeauftragter-title{
        font-size: 1.8rem;
    }
    #datenschutzbeauftragter {
        padding-top:0px
    }
}