

// *************************  caption 1
.carousel-caption-1 {
    position: absolute;
    bottom: 20px;
    top: 40%;
    left: 48%;
    bottom: auto;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    max-width: 800px;
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
    color: white;
    text-shadow: 3px 1px 16px rgba(0, 0, 0, 0.452);
    text-transform: uppercase;
    line-height: 85px;
    z-index: 10;
}
.carousel-caption-1 p:before    {
    position: absolute;
    top: 0;
    left: 60;
    transform: translate(-140px);
    content: '"';
    font-family: 'Cut The Crap', Arial, sans-serif;
    font-size: 18rem;
}

// *************************  caption 2

.carousel-caption-2 {
    position: absolute;
    top: 30%;
    left: 20%;
    max-width: 800px;
    bottom: auto;
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
    color: white; 
    text-shadow: 3px 1px 16px rgba(0, 0, 0, 0.568);
    text-transform: uppercase;
    line-height: 85px;
    z-index: 10;
 }
 .carousel-caption-2 p:before    {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-120px);
    content: '"';
    font-family: 'Cut The Crap', Arial, sans-serif;
    font-size: 18rem;
}
 
 // *************************  caption 3

 .carousel-caption-3 {
    position: absolute;
    top: 30%;
    left: 10%;
    max-width: 800px;
    bottom: auto;
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
    color: white; 
    text-shadow: 3px 1px 16px rgba(0, 0, 0, 0.452);
    text-transform: uppercase;
    line-height: 85px;
    z-index: 10;
 }
 .carousel-caption-3 p:before    {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-120px);
    content: '"';
    font-family: 'Cut The Crap', Arial, sans-serif;
    font-size: 18rem;
}

    
// ********************* media querries

@media(max-width: 1600px){
    .carousel-caption-2 {
        top: 40%;
        left: 20%;
        max-width: 800px;
        font-family: 'Permanent Marker', cursive;
        font-size: 5.6rem;
        line-height: 70px;       
     }
     .carousel-caption-3 {
      left: 9%;
      top: 40%;
        line-height: 86px;       
     }
     .carousel-caption-1 p:before    {
      transform: translate(-100px);
     
  }  
 }

@media(max-width: 1200px){
   
    .carousel-caption-1 {
       line-height: 70px;
       top: 26%;
       font-size: 4.5rem;
        
     }
     .carousel-caption-1 p:before    {
      transform: translate(-75px);
      top: 3%;
      font-size: 13rem; 
     
  } 
    
    .carousel-caption-2 {
        top: 42%;
        left: 20%;
        max-width: 600px;
        font-family: 'Permanent Marker', cursive;
        font-size: 4.5rem;
        line-height: 70px;  
     }
     .carousel-caption-2 p:before    {
        transform: translate(-88px);
        font-size: 13rem;
    }  
    
     .carousel-caption-3 {
      left: 10%;
      top: 53%;
      font-size: 4.5rem;
      line-height: 70px;       
     }
     .carousel-caption-3 p:before    {
        transform: translate(-88px);
        font-size: 13rem;
    } 
 }
 @media(max-width: 992px){
    .carousel-caption-1 {
        top: 30%;    
        max-width: 600px;
        font-size: 4rem;
        line-height: 60px;
        
     }  
     .carousel-caption-1 p:before    {
      transform: translate(-56px);
      top: 2%;
      transform: translate(-70px)
     
  }  
     .carousel-caption-2 {
      top: 50%;
      left: 25%;
        max-width: 600px;
        font-family: 'Permanent Marker', cursive;
        font-size: 4rem;
        line-height: 60px;
     }
   
     .carousel-caption-3 {
        max-width: 600px;
        left: 17%;
        font-size: 4rem;
        line-height: 60px;       
     }
 }
 
 @media(max-width: 768px){
   .carousel-caption-1 {
      top: 20%;    
      line-height: 48px;
      font-size: 3.5rem;
      
   }  
    .carousel-caption-2 {
      top: 31%;
      left: 22%;
      font-size: 2.5rem;
      max-width: 600px;
      line-height: 60px;
     } 
     .carousel-caption-3 {
      max-width: 600px;
      left: 18%;
      font-size: 3.5rem;
      line-height: 60px;     
   }
 }

 @media (max-width: 575.98px){
   .carousel-caption-1 {
      top: 28%;
      line-height: 20px;
      font-size: 1.6rem;
  }
 
   .carousel-caption-1 p:before    {
      top: 10%;
      transform: translate(-33px);
      font-size: 6rem;
     
  }  
  .carousel-caption-2 {
   top: 41%;
   left: 22%;
     max-width: 600px;
     font-size: 1.7rem;
     line-height: 29px;
  } 
  .carousel-caption-2 p:before    {
   font-size: 6rem;
   top: -7%;
   left: 18%;
} 
.carousel-caption-3 {
   max-width: 600px;
   left: 14%;
   top: 40%;
   font-size: 1.8rem;
    line-height: 28px;    
}
.carousel-caption-3 p:before    {
   font-size: 6rem;
   top: -6%;
   left: 19%;
} 
 }

 .carousel-item:after  {
  content: "";
  display: block;
  position: absolute; 
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
}
