#section-jumbotron {
    position: relative;
    line-height: 1.9rem; 
    
}
.inner {
  position: relative;
  z-index: 200;
  color: rgb(255, 255, 255);
}
.inner hr {
   border-color: #fdfdfd
}



.jumbotron  {
    background: url(../img/SevTaste_kl._Schlitzpng-1024x198.png);
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    color: white;
    text-shadow: 2px 3px 0px rgba(38,20,20,0.3);
}


.overlay
{
content: "";
display: block;
position: absolute; 
bottom: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.479);
}