.navbar-brand img {
    width: 342px;
}

.navbar-light .navbar-brand  {
    margin-bottom: -26px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: $color-primary;
}
.navbar-nav {
 
    margin-bottom: -6px;
   
}