#ueber-uns {
    background-color: $color-primary;
    line-height: 1.9rem; 
    padding-top: 75px;
    
}
#ueber-uns p, h2 {
    color: white;
}
.hr-contact {
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: rgb(191, 191, 191);
    margin-top: 3%;
    margin-bottom: -1%;
    opacity: 0.5;
}
.skew-c {
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: $color-primary-light;
}